<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
<h1>I AM ABDUL SAMAD ALI ABBASI</h1>
{{Key1}}
<a href="{% url 'result' %}">Click Here For Result</a>

<form action="{% url 'result' %}">
    {% csrf_token %}
    <!-- <input type="text", name="user_age">
    <br><hr>
    <input type="text", name="user_name">
    <br><hr> -->
    <textarea name="article" cols="30" rows="10"></textarea>
    <input type="submit" value="Submit">
</form>
</body>
</html>


